
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="row">
    <div class="col-md-12">
        <h2>UploadFile</h2>
        @using (Html.BeginForm("UploadFile", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @Html.TextBox("file", "", new { type = "file" }) <br />
                <input type="submit" value="Upload" />
                @ViewBag.Message
            </div>
        }
    </div>
</div>




<div class="row">
    <div class="col-md-12">
        <h2>AJAX Upload File Example</h2>
        <div>
            @Html.TextBox("FileUpload1", "", new { type = "file" }) <br />
            <input type="submit" id="btnUpload" value="Upload" />
            @ViewBag.Message
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>

    $(document).ready(function () {
        $('#btnUpload').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('username', 'Manas');

                $.ajax({
                    url: '/FileUpload/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert(result);
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });
</script>  